@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #242943;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1::before, h1::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #ff0099, #00ccff);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

section {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 20px;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tile {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

.tile .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;
}

.tile:hover .content {
    opacity: 1;
    transform: translateY(-10px);
}

.tile .content .contentBx {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tile .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.1em;
}

@media screen and (max-width: 768px) {
    .row {
        gap: 15px;
    }

    .tile {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .row {
        gap: 10px;
    }

    .tile {
        width: 60px;
        height: 60px;
    }
}
